
.top-container{
    position: absolute;
    top: 19%;
    left: 25%;

}

.middle-container{
       position: absolute;
       top: 50%;
       left: 30%;
       
}

.bottem-container{
    position: absolute;
    left: 15%;
    top: 60%;

}

.chat{
    position: absolute;
    top: 115%;
    left: 7%;
}

.developer{
    position: absolute;
    top: 85%;
    left: 19%;
}


.link{
    position: absolute;
    top: 75%;
    left: 30%;
  }
  
  .power{
    position: absolute;
    top: 75.40%;
    left: 65%;

    
  }
  
  .power2{
    position: absolute;
    top: 75.55%;
    left: 49%;
  }  